@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .no-spinner {
    -moz-appearance: textfield;
  }

  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none;
  }
}

body {
  margin: 0;
  pading: 0;
  background-image: url("../src/assets/logo_Background.svg");
  background-color: var(--tg-theme-secondary-bg-color);
  /*background-color: #282829;*/

  color: var(--tg-theme-text-color);
  /*color:#fff;*/
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}

Link,
a {
  color: var(--tg-theme-link-color);
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
